{
    "plugins": [
      ["dotenv-import", {
        "moduleName": "dotenv",
        "path": "../.env",
        "blacklist": null,
        "whitelist": null,
        "safe": false,
        "allowUndefined": false
      }]
    ]
  }